<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.1/hack.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.1/standard.css" /> -->

    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

    {{ partial "meta.html" . }} {{ partial "title.html" . }} {{ partial "link.html" . }}
    {{ partial "load_site_assets.html" . }} {{ block "load_page_assets" . }} {{ with .Content }}{{ end }} {{ end }}
    {{ partial "assets.html" . }}
</head>

<body>
    <div class="wrapper">
        <aside class="sidebar">
            {{ partialCached "sidebar.html" . }}
        </aside>
        <main class="main">
            {{ block "main" . }}{{ end }}
            {{ partialCached "footer.html" . }}
        </main>
    </div>
</body>

</html>