<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">

    {{ partial "meta.html" . }} {{ partial "title.html" . }} {{ partial "link.html" . }}
    {{ partial "load_site_assets.html" . }} {{ block "load_page_assets" . }} {{ with .Content }}{{ end }} {{ end }}
    {{ partial "assets.html" . }}
</head>

<body>
    <div class="wrapper">
        <aside class="sidebar">
            {{ partialCached "sidebar.html" . }}
        </aside>
        <main class="main">
            {{ block "main" . }}{{ end }}
            {{ partialCached "footer.html" . }}
        </main>
    </div>
</body>

</html>