{{ define "load_page_assets" }}

{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}

{{ $paginator := .Paginate $pages }}

{{ range $paginator.Pages }}
{{ with .Content }}{{ end }}
{{ $page_css := .Scratch.Get "css" }}
{{ with $page_css }}
{{ $css_list := $.Scratch.Get "css" }}
{{ . | merge $css_list | $.Scratch.Set "css" }}
{{ end }}
{{ $page_js := .Scratch.Get "js" }}
{{ with $page_js }}
{{ $js_list := $.Scratch.Get "js" }}
{{ . | merge $js_list | $.Scratch.Set "js" }}
{{ end }}
{{ end }}

{{ $paginator | .Scratch.Set "paginator" }}

{{ end }}

{{ define "main" }}

<div class="column col-12">
  <header class="navbar">
    <section class="navbar-section">
      <div class="navbar-center"></div>
    </section>
  </header>
</div>

<div class="column col-12">
  <div class="empty">
    <div class="empty-icon">
      <figure class="avatar avatar-xxl">
        <img src="/img/me.jpeg" alt="...">
        <img src="/img/3.svg" class="avatar-icon" alt="...">
      </figure>
    </div>
    
    <p class="empty-subtitle">I'm a brazilian programmer, husband and father<sup>2</sup>. This is my little personal
      space on the web. If you'd like to get in touch, its probably best to reach me with an email.</p>
    
    <div class="empty-action">
      <button class="btn btn-primary btn-sm">Send a message</button>
    </div>
  </div>
</div>

<div class="column col-12">
  <div class="empty">
    <p class="empty-subtitle">Here are some of the things I'm interested in:</p>

    {{ range $key, $value := .Site.Taxonomies.tags }}
      <a class="text-lowercase" href="/tags/{{ $key | urlize  }}"><mark>{{ $key | humanize }} ({{ len $value }})</a></mark>
    {{ end }}
  </div>
</div>

{{ if 0 }}
{{ $paginator := .Scratch.Get "paginator" }}

{{ range $paginator.Pages }}
<article>
  {{ partial "heading.html" . }}
  {{ if site.Params.summaries }}
  {{ .Summary }}
  {{ if .Truncated }}
  <a class="" href="{{ .RelPermalink }}">Read More…</a>
  {{ end }}
  {{ else }}
  {{ .Content }}
  {{ end }}
  {{ partial "tags.html" . }}
</article>
{{ with site.Params.divider }}
<div class="divider"></div>
{{ end }}
{{ end }}

{{ partial "pagination.html" . }}

{{ end }}
{{ end }}