{{ define "load_page_assets" }}

{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}

{{ $paginator := .Paginate $pages }}

{{ range $paginator.Pages }}
{{ with .Content }}{{ end }}
{{ $page_css := .Scratch.Get "css" }}
{{ with $page_css }}
{{ $css_list := $.Scratch.Get "css" }}
{{ . | merge $css_list | $.Scratch.Set "css" }}
{{ end }}
{{ $page_js := .Scratch.Get "js" }}
{{ with $page_js }}
{{ $js_list := $.Scratch.Get "js" }}
{{ . | merge $js_list | $.Scratch.Set "js" }}
{{ end }}
{{ end }}

{{ $paginator | .Scratch.Set "paginator" }}

{{ end }}

{{ define "main" }}

<section class="hero">
  <h3>Interests</h3>

  {{ range $key, $value := .Site.Taxonomies.tags }}
  <mark><a class="text-lowercase" href="/tags/{{ $key | urlize  }}">{{ $key | urlize }}</a></mark>
  {{ end }}
</section>

{{ if 0 }}
<section class="hero">
  <h3>Recent Bookmarks</h3>
  <table class="bookmarks table table-striped table-hover">
    <tbody>
      {{ range $i, $l := $.Site.Data.links }}
      <tr>
        <td>
          <div class="text-center">
            <a target="blank" href="{{ .href }}">{{ .title }} &#8599;</a>
          </div>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</section>
{{ end }}

{{ if 0 }}
{{ $paginator := .Scratch.Get "paginator" }}

{{ range $paginator.Pages }}
<article>
  {{ partial "heading.html" . }}
  {{ if site.Params.summaries }}
  {{ .Summary }}
  {{ if .Truncated }}
  <a class="" href="{{ .RelPermalink }}">Read More…</a>
  {{ end }}
  {{ else }}
  {{ .Content }}
  {{ end }}
  {{ partial "tags.html" . }}
</article>
{{ with site.Params.divider }}
<div class="divider"></div>
{{ end }}
{{ end }}

{{ partial "pagination.html" . }}

{{ end }}
{{ end }}