<header class="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <a href="/" class="logo">
                    <img class="stamp" src="/img/6.svg" alt="{{ site.Title }}" />
                </a>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-3" align="right">
                {{ range site.Menus.nav }}
                <a href="{{ .URL }}" class="button">{{ .Name }}</a> {{ end }}
            </div>
        </div>
    </div>
</header>