<div class="sidebar">
    <img src="/img/me2.png" />
    <h1>
        <a href="/me">Daniel Ribeiro</a>
        <small>@drgomesp</small>
    </h1>
    <p>
        I'm a father and a programmer, amongst many other things.
    </p>

    <nav class="menu">
        <a class="menu-item active">
            Blog <div class="pull-right">»</div>
        </a>
        <a class="menu-item">
            Projects <div class="pull-right">»</div>
        </a>
        <a class="menu-item">
            Curriculum Vitæ <div class="pull-right">»</div>
        </a>
        <a class="menu-item">
            About <div class="pull-right">»</div>
        </a>
    </nav>

    <blockquote>
        "Typing is no substitute for thinking." — Dartmouth Basic manual, 1964.
    </blockquote>
</div>

<!-- <header class="navigation">
    <div class="container">
        <div class="grid">
            <div class="cell">
                <h1>
                    <a href="/" class="logo">
                        {{ .Title }}
                    </a>
                </h1>
            </div>
            <div class="cell" align="right">
                {{ range site.Menus.nav }}
                <a href="{{ .URL }}" class="button">{{ .Name }}</a> {{ end }}
            </div>
        </div>
    </div>
</header> -->