<img src="/img/me2.png" />
<h1>
    <a href="/">Daniel <strong>Ribeiro</strong></a>
    <kbd>drgomesp@dev:/var/www <span class="blink"><strong>$</strong></span></kbd>
</h1>

<p>
    <em>I'm a self-taught computer programmer, husband and father<sup>2</sup>. </em>
</p>

<ul class="nav">
    <li class="nav-item active">
        <a href="/posts">Blog </a>
    </li>
    <li class="nav-item">
        <a href="/posts">Projects</a>
    </li>
    <li class="nav-item">
        <a href="/posts">Curriculum Vitæ </a>
    </li>
</ul>

<blockquote>
    <p>"Typing is no substitute for thinking."</p>
    <cite> — Dartmouth Basic manual, 1964.</cite>
</blockquote>

<!-- <header class="navigation">
    <div class="container">
        <div class="grid">
            <div class="cell">
                <h1>
                    <a href="/" class="logo">
                        {{ .Title }}
                    </a>
                </h1>
            </div>
            <div class="cell" align="right">
                {{ range site.Menus.nav }}
                <a href="{{ .URL }}" class="button">{{ .Name }}</a> {{ end }}
            </div>
        </div>
    </div>
</header> -->