@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

:root {
    --color-primary: #0e4dcc;
    --color-secundary: #f1f3fa;
    --color-dark: #272727;
    --color-silver: #eaeaea;
    --color-gray: #7a7a7a;
    --color-lightgray: #b7b7b7;
    --color-white: #fdfdfd;

    font-family: Rubik, -apple-system,BlinkMacSystemFont,"Segoe UI",Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 14px;
    line-height: 1.6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--color-white);
}

html {
    color: var(--color-dark);
}

pre {
    font-size: smaller !important;
}
 


a {
    color: var(--color-primary);
    text-decoration: underline;
}

figure {
    text-align: center;
    color: var(--color-gray);
}

img + em { 
    display: inline-block;
    text-align: center;
}

a:visited {
    color: var(--color-primary);
}

a:hover {
    background-color: var(--color-secundary);
}

mark {
    white-space: nowrap;
    padding: 0 .25rem;
    font-size: small;
    background-color: #ffe9b3;
    border-radius: .1rem;
    border-bottom: .1rem solid #ffd367;
}

mark a {
    text-decoration: none;
    color: var(--color-dark);
}

mark a:hover {
    text-decoration: underline;
    background-color: #ffe9b3;
}

mark a:visited {
    color: var(--color-dark);
}

pre {
    padding: .5rem;
    font-size: small;
    background-color: var(--color-silver);
}

.sep {
    color: var(--color-lightgray);
    font-size: small;
}

.navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: .5rem;
}

@media(min-width:600px) {
    .navigation {
        height: 100%;
        align-items: center;
        position: fixed;
        width: 13.5rem;
    }
}

.navigation ul {
    margin-right: .5rem;
    padding-top: 1rem;
}

.navigation:after {
  content: '';
  height: 35%;
  width: 1px;

  position: absolute;
  right: 0;
  top: 1rem;

  background-color: var(--color-silver);
}

.navigation .logo {
    margin-top: .5rem;
    text-align: center;
    font-size: large;
    line-height: 1;
    margin-bottom: 1rem;
}

.navigation .logo a {
    color: var(--color-dark);
    text-decoration: none;
}

.navigation small {
    font-size: small;
}

.navigation li {
    list-style: none;
}

.navigation blockquote {
    margin-top: auto;
    font-size: smaller;
    border-left: .2rem solid var(--color-silver);
    padding-left: .5rem;
}

.navigation blockquote p {
    margin-bottom: 1rem;
}

.navigation blockquote cite {
    font-style: italic;
}

@media(max-width:600px) {
    .navigation {
        flex-direction: row;
        max-height: 6.5rem;
        border-bottom: 1px solid var(--color-silver);
    }
    
    .navigation .logo {
        text-align: center;
        margin-bottom: .5rem;
    }

    .navigation .logo img {
        width: 3rem;
    }

    .navigation ul {
        text-align: center;
        margin: 0 0 .5rem;
        padding: 0;
    }

    .navigation li {
        margin-left: .2rem;
        display: inline;
    }

    .navigation blockquote {
        display: none;
    }
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

@media(min-width:600px) {
    .content {
        max-width: 51rem;
        margin-left: 11.5rem;
        padding: 0 1rem 0 3.25rem;
    }
}

.content img {
    max-width: 100%;
}

.content h1,.content h2 {
    display: inline-block;
}

.content article ul {
    margin: 1.5rem 2.5rem;
}

.content article li {
    margin: .5rem;
}

.content .article-header {
    margin-bottom: 2.5rem;
}

.content .article-header ul {
    margin: 0;
}

.content .article-header li {
    margin: 0;
}

.content time {
    color: var(--color-gray);
}

.content .article-header sup {
    display: block;
}

.content .article-header sub {
    top: .5rem;
}

.content p {
    margin: 1rem 0;
}

.content .hero {
    padding: 1rem;
    margin: 2.5rem;
}

.content .hero h3 {
    font-weight: normal;
    margin: .25rem 0;
    text-transform: capitalize;
}

.content article h3 {
    margin: 2.5rem 0 0;
}

.content .social-links {
    padding: .25rem;
    text-align: right;
    font-size: smaller;
    margin-bottom: .75rem;
    /* border-bottom: 1px solid var(--color-silver); */
}

@media(max-width:600px) {
    .content .social-links {
        margin-bottom: 1.75rem;
    }
}

.content .followed-articles {
    font-size: smaller;
    display: flex;
    flex-direction: row;
}

.content .followed-articles article {
    margin: 0 .25rem;
}

.content .article-header sup {
    color: var(--color-gray);
}

.content .article-header h2 a {
    text-decoration: none;
}

.content .article-header .tags {
    list-style: none;
    margin: 0;
}

.content .article-header .tags li {
    display: inline;
}

.content .article-header .tags a {
    text-decoration: none;
    background-color: #ffe9b3;
} 

.content h1, .content h2 {
    margin-bottom: 0;
}

.content .year-section {
    font-weight: normal;
}

.content .year-section::after {
  content: '';
  height: 35%;
  width: 1px;

  position: absolute;
  right: 0;
  top: 1rem;

  background-color: var(--color-silver);
}

.content .note-list time {
    font-family: monospace;
    font-size: smaller;
}

.content .note-list ul {
    list-style: none;
}

.content footer {
    font-size: small;
    margin-top: auto;
}

.content footer p {
    margin: .5rem 0 .75rem;
}

.content hr {
    max-width: 15rem;
    margin: 1rem auto;
    border-bottom: none;
    border-top: 1px solid var(--color-silver);
}