@keyframes blinker { 
    50% {
        opacity: 0;
    }
 }

.blink {
    animation: blinker 1s step-start infinite;
}

:root {
    --color-maroon: #63293d;
    --color-blue: #30527f;
    --color-lightblue: #2562dc;
    --color-paleblue: #7395d9;
    --color-purple: #7e3260;
    --color-magenta: #ab3c6f;
    --color-white: #fff;
    --color-silver: #f5f5f5; 
    --color-dark: #212121;
    --color-grey: #9e9e9e;
}

html,
* {
    font-size-adjust: 0.44;
    line-height: 1.2rem;
    font-family: 
        Inconsolata,
        Oxygen,
        -apple-system, 
        BlinkMacSystemFont,
        "Segoe UI",
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif
        ;
}

a {
    color: var(--color-lightblue);
}

a:focus {
    box-shadow: none;
    border: none;
}

a:visited {
    color: var(--color-paleblue);
}

body {
    background-color: var(--color-white);
    color: var(--color-dark);
    font-weight: 400;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.hero {
    margin: 2.5rem 0;
}

.btn-primary {
    background-color: var(--color-blue) !important;
    border-color: var(--color-dark) !important;
}

.form-input:focus {
    box-shadow: none;
    border-color: var(--color-dark);
}

.sidebar {
    color: var(--color-silver);
    padding: 1.65rem;
    height: 100%;
    position: fixed;
    max-width: 13.5rem;
    border-right: 1px solid var(--color-dark);
    background-color: var(--color-blue);
}

.sidebar kbd {
    border: 1px solid var(--color-dark);
    font-family: Inconsolata, SFMono-Regular, Monaco, Consolas, monospace;
}

.sidebar img {
    border: 1px solid var(--color-dark);
    max-width: 100%;
}

.sidebar h1 {
    text-align: center;
    line-height: 1.25rem;
}

.sidebar p {
    line-height: normal;
}

.sidebar h1 a {
    color: var(--color-silver);
    font-size: x-large;
}

.sidebar h1 a:hover {
    color: var(--color-silver);
}

.sidebar h1 small {
    font-size: smaller;
}

.sidebar .nav {
    margin-left: 1rem;
    font-size: smaller;
}

.sidebar .nav a {
    color: var(--color-silver);
}

.sidebar .nav a:hover {
    color: var(--color-silver);
    border-bottom: 1px dotted var(--color-silver);
}

.sidebar .nav .active a {
    color: var(--color-silver);
}

.sidebar .nav .active a:hover {
    color: var(--color-silver);
}

.sidebar blockquote {
    display: none;
    position: fixed;
    bottom: 0;
    font-size: small;
    max-width: 235px;
    border-left: .2rem solid var(--color-silver);
}

@media(min-height:600px) {
    .sidebar blockquote {
        display: block;
    }
}

.sidebar blockquote p {
    margin: 0 0 .25rem;
}

article time {
    font-size: medium;
}

article header {
    /* margin-bottom: .15rem; */
}

article header h3 {
    font-size: x-large;
    font-weight: bold;
    margin: 0;
}

article header h3 a {
    position: relative;
    top: .1rem;
}

article footer .tags {
    margin: 0 0 1rem;
}

article footer .tags li {
    display: inline;
}

.main {
    margin-left: 12.5rem;
    padding: 1.25rem 2.5rem;
    max-width: 42rem;
}

.main .main-footer {
    font-size: x-small;
    padding: .75rem 0;
    background-color: var(--color-white);
}
